
.classSelector {
    color: #036;
}

div {
    color: orange;
    

}
#IdSelector{
    color:red;
}
.FontStyle{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}
.LineHeight{
    line-height: 100px;
}
.TextIndex{
    text-indent: 2em;
}
.TextAlign{
    text-align: center;
}
.Decoration{
    text-decoration: line-through;
}
.Decoration1{
    text-decoration: underline;
}